p.warn { margin-left: 4em;
         margin-right: 4em; 
         background-color: #fc3;
         border: solid #000 thin;
         font-weight: bold;
         padding: 0.5em;
       }

pre { margin-left: 4em; 
      margin-right: 4em; 
      background-color: #ddd;
    }

pre.screen { color: #fff;
             background-color: #000;
             font-family: monospace;
             border: solid #c0b9c0 medium;
             -moz-border-radius: 0.75em;
           }
pre.screen span { background-color: #00f; 
                  color: #fff; 
                  font-weight: bold; 
                }
pre.screen span.rv { background-color: #fff; 
                     color: #000;
                   }

code { color: #04a; font-weight: bold; }
