body { font-family: sans-serif; margin: 0 5% 0 5%; }

div { padding: 0 1% 1% 1%; margin-bottom: 2%; }
div#entries { margin-left: 11em; }
div#sidebar { width: 12em;
	      font-size: small;
	      position: fixed;
	      top: 5.4em;
	      left: 5%;
              background-color: #e0e0e5;
              padding: 0;
	    }
div.msg { background-color: #e0e0e5; margin-top: 0; margin-bottom: 0;}

p.side { margin: 0; font-size: large; padding: 2px; background-color: #e0d9c0;}
p.head  { text-align: right; background-color: #bbb; margin: 0; padding: 2px;}
p { margin-top: 0; }

blockquote {
           margin-left: 1em;
           margin-right: 13em;
           border: solid #aa9339 thin;
}
blockquote p { margin-top: 0; }

pre {
      margin-left: 0;
      margin-right: 10em;
      background-color: #ccc; 
      color: #226; 
      border: solid #aa9339 thin;
      padding: 0.25em;
      font-family: monospace;
}

table { width: 100%; margin: 0; }

.left  { padding: 0; border: 0; background: transparent; float: left; width: 49%; clear: left; }
.right { padding: 0; border: 0; background: transparent; float: right; width: 49%; clear: right; }
.c     { text-align: center; }
.c2    { text-align: center; background-color: #bbb; border: 0; }

h2 { background-color:  #e0d9c0; }
h2.head { margin-bottom: 0;}

a:visited { color: #009; }

dt { color: #04a; font-weight: bold; }
dd { /* background-color: #ddd; border: solid #aa9339 thin; */
     padding: 0.25em; margin-right: 10em; }