body {background-color: white; font-family: sans-serif;}

h1,h2,h3 { font-family: monospace; }
h1 { border-bottom: solid #e0d9c0 medium; }

blockquote { background-color: #e0d9c0;
	    font-style: italic;
	    padding: 1em; 
}

pre { margin-left: 3.5em;
      padding: 1em;
      background-color: #000;
      color: #ccc; 
      margin-right: 5.5em;
}

table { margin-left: 2.5em;
        margin-right: 4em;
}

th {background-color: #e0d9c0;}

td {vertical-align: top;
    padding: 0.15em;
    border-right: solid #000 thin; 
    border-bottom: solid #000 thin; 
    background-color: #eee;
}
